.ct-new-car-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 20px;
  background-color: var(--ct-background-main);
  min-height: 400px;

  padding-block: 16px;
  display: flex;
  flex-direction: column;
}

.ct-new-car-form__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.ct-new-car-form__close {
  font-size: 16px;
  font-weight: 500;
  color: var(--ct-text-secondary);
  cursor: pointer;
}

.ct-new-car-form__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.ct-new-car-form__content {
  padding-block: 16px;
  display: flex;
  flex-direction: column;
}

.ct-new-car-form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

.ct-new-car-form__year-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  button {
    font-size: 16px;
  }
}

.ct-new-car-form__actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: auto;
}
