.ct-car-item__sketch {
  margin-bottom: 20px;
}

.ct-car-item__image-container {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.ct-car-item__no-image {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--ct-border-default);
  border-radius: 10px;
  color: var(--ct-text-color-secondary);
}

.shimmer-text {
  font-weight: 600;
  background: linear-gradient(90deg, #e5e7eb, var(--ct-color-primary), #e5e7eb);
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: Shimmer 2s infinite linear;
}

@keyframes Shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}
