.ct-button {
  height: auto;
  background-color: transparent;
  color: var(--ct-text-color-on-primary);
  border: none;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  box-shadow:
    0 2px 4px 0px rgb(177 183 188),
    0 1px 3px 0 rgb(200, 207, 233);
  transition: all 0.2s ease-in-out;

  &[data-ctbuttonsize='medium'] {
    height: auto;
    font-size: 16px;
    padding: 6px 10px;
  }

  &[data-ctbuttonsize='compact'] {
    height: auto;
    padding: 4px 6px;
    font-size: 12px;
  }

  &[data-ctbuttonsize='small'] {
    height: auto;
    font-size: 12px;
  }

  &[data-ctbuttonsize='xsmall'] {
    height: auto;
    font-size: 10px;
  }

  &[data-ctbuttonvariant='outline'] {
    color: var(--ct-text-color-default);
    background-color: var(--ct-background-main);
    box-shadow:
      0 0 4px 1px rgb(244 240 240),
      0 1px 3px 0 rgb(200, 207, 233);
  }

  &[data-ctbuttonvariant='primary'] {
    color: #fff;
    background-color: var(--ct-color-primary);
    box-shadow:
      0 2px 4px 0px rgb(177 183 188),
      0 1px 3px 0 rgb(200, 207, 233);

    &:hover {
      background-color: var(--ct-color-primary-hover);
    }

    &:active,
    &:focus {
      background-color: var(--ct-color-primary-hover);
    }
  }

  &[data-ctbuttonvariant='ghost'] {
    color: var(--ct-text-color-default);
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    background-color: #fafafa;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: #fafafa;
  }

  &[disabled] {
    background-color: rgb(204, 204, 204);
    color: var(--ct-text-color-disabled);
    cursor: not-allowed;
    box-shadow: none;

    &:hover {
      background-color: rgb(204, 204, 204);
    }
  }
}

.ct-button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: transparent;
  color: var(--ct-text-color-on-primary);
  border: none;
  font-size: 14px;
  gap: 6px;
  padding: 6px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  box-shadow:
    0 2px 4px 0px rgb(177 183 188),
    0 1px 3px 0 rgb(200, 207, 233);
  transition: all 0.2s ease-in-out;

  &[data-ctbuttoniconrounded] {
    border-radius: 50%;
  }

  &[data-ctbuttonsize='medium'] {
    height: auto;
    padding: 10px;
  }

  &[data-ctbuttonsize='compact'] {
    height: auto;
    padding: 4px;
    font-size: 12px;
  }

  &[data-ctbuttonsize='small'] {
    height: auto;
    font-size: 12px;
    padding: 2px;
  }

  &[data-ctbuttonsize='xsmall'] {
    height: auto;
    font-size: 10px;
    padding: 1px;
  }

  &[data-ctbuttonvariant='outline'] {
    color: var(--ct-text-color-default);
    background-color: var(--ct-background-main);
    box-shadow:
      0 0 4px 1px rgb(244 240 240),
      0 1px 3px 0 rgb(200, 207, 233);
  }

  &[data-ctbuttonvariant='primary'] {
    color: #fff;
    background-color: var(--ct-color-primary);
    box-shadow:
      0 2px 4px 0px rgb(177 183 188),
      0 1px 3px 0 rgb(200, 207, 233);

    &:hover {
      background-color: var(--ct-color-primary-hover);
    }

    &:active,
    &:focus {
      background-color: var(--ct-color-primary-hover);
    }
  }

  &[data-ctbuttonvariant='ghost'] {
    color: var(--ct-text-color-default);
    background-color: transparent;
    box-shadow: none;
  }

  &:hover {
    background-color: #fafafa;
  }

  &:active,
  &:focus {
    outline: none;
    background-color: #fafafa;
  }

  &[disabled] {
    background-color: rgb(204, 204, 204);
    color: var(--ct-text-color-disabled);
    cursor: not-allowed;
    box-shadow: none;

    &:hover {
      background-color: rgb(204, 204, 204);
    }
  }
}
