.ct-skeleton-loader {
  --ct-skeleton-loader-radius: 4px;
  background: linear-gradient(90deg, #e5e7eb, #fff, #e5e7eb);
  background-size: 200%;
  animation: shimmer 2s infinite linear;
  border-radius: var(--ct-skeleton-loader-radius);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
